body
{
	background: url("/./images/assets_menu/fond.webp") fixed no-repeat center;
    color : white;
}
#mdp
{
    border-radius: 20px;
    border-spacing: 100px;
    border-color: white;
    border-style: groove;
    position: relative;
    width: 60vw;
    height: fit-content;
    left: 13.5vw;
    font-size: 1.2em;
    padding: 2vw;
}
.oui
{
    position: relative;
    left: 20vw;
}
input
{
    width: 20vw;    
}
section
{
    background-color: rgba(41, 41, 41, 0.8);
    width: 90vw;
    position: relative;
    left: 4vw;
}
#suivant
{
    position: absolute;
    left: 500vw;
    font-size: 2rem;
}
#question
{
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
#reponses
{
    text-align: center;
    font-size: 1.5rem;
    padding: 2vh;
}
#invisible
{
    position: relative;
}