#fuyuki_persos
{
	background-image: url("/././images/assets_page_singus/part1/fuyuki/directrice.png");
	background-repeat: no-repeat;
	background-position: center;
}
.testo
{
	background: url("/././images/assets_page_singus/part1/fuyuki/ico_mark.png") center no-repeat;
}
.crimson
{
	color: crimson
}
