.testo
{
	background: url("/././images/assets_page_singus/part1/orleans/ico_mark.png") center no-repeat;
}
#fuyuki_persos
{
	background-image: url("/././images/assets_page_singus/part1/orleans/jeanne.png");
	background-repeat: no-repeat;
	background-position: center;
}
.couleur
{
    color: rgb(198, 255, 198);
}