.testo
{
	background: url("../../images/assets_page_singus/part1/septem/ico_mark.png") center no-repeat;
}
#fuyuki_persos
{
	background-image: url("../../images/assets_page_singus/part1/septem/nero.png");
	background-repeat: no-repeat;
	background-position: center;
}
.couleur
{
    color: orange;
}